<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增不良记录')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-badcommodity-add"  enctype="multipart/form-data" >
            <div class="form-group">
                <label class="col-sm-3 control-label">订单号或无订单号：</label>
                <div class="col-sm-4">
                    <input name="orderId" id="orderId" class="form-control" type="text" onchange="getAndFillOrderData();">
                </div>
                <div class="col-sm-2">
                    <input value="订单的退货记录" class="btn btn-w-m btn-info" type="button" onclick="toOrderReturnPage()">
                </div>
                <div class="col-sm-2">
                    <input value="订单的退款记录" class="btn btn-w-m btn-info" type="button" onclick="toOrderRefundPage()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">账户站点：</label>
                <div class="col-sm-8">
                    <input name="storeCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售负责人：</label>
                <div class="col-sm-8">
                    <input name="principal" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="orderDate" class="form-control" placeholder="yyyy/MM/dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">处理日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dealDate" class="form-control" placeholder="yyyy/MM/dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">型号：</label>
                <div class="col-sm-8">
                    <input name="type" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准SKU：</label>
                <div class="col-sm-8">
                    <input id="sku" name="sku" class="form-control" type="text" onchange="getAndFillOrderData();">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良总数            ：</label>
                <div class="col-sm-8">
                    <input name="badNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发数量            ：</label>
                <div class="col-sm-8">
                    <input name="reissueNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款数量            ：</label>
                <div class="col-sm-8">
                    <input name="refundNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">追溯码：</label>
                <div class="col-sm-8">
                    <input name="tracebackCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良原因：</label>
                <div class="col-sm-8">
                    <select id="badReason" name="badReason" class="form-control m-b" th:with="type=${@dict.getType('pms_bad_reason')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品不良解决方式：</label>
                <div class="col-sm-8">
                    <select name="solution" class="form-control m-b" th:with="type=${@dict.getType('pms_bad_dealmethod')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <!--1.站内信 2.feedback  3.差评 4.站外邮件 5.ebay纠纷 6.ebay退换货-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良来源：</label>
                <div class="col-sm-8">
                    <select name="badSource" class="form-control m-b" th:with="type=${@dict.getType('oms_bad_source')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label">FBA SKU：</label>
                <div class="col-sm-8">
                    <input name="fbaSku" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label">return-date：</label>
                <div class="col-sm-8">
                    <input name="returnDate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label">型号2：</label>
                <div class="col-sm-8">
                    <input name="type2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label">每套个数：</label>
                <div class="col-sm-8">
                    <input name="eachsetNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-sm-3 control-label">不良总个数：</label>
                <div class="col-sm-8">
                    <input name="badNum2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发或退款            易仓SKU：</label>
                <div class="col-sm-8">
                    <input name="ycSku" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发数量            ：</label>
                <div class="col-sm-8">
                    <input name="reissue2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发跟踪号：</label>
                <div class="col-sm-8">
                    <input name="reissueTrackingId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发是否送达：</label>
                <div class="col-sm-8">
                    <select name="isdelivered" class="form-control m-b" th:with="type=${@dict.getType('sys_common_ whether')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款数量            ：</label>
                <div class="col-sm-8">
                    <input name="refundNum2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款金额            ：</label>
                <div class="col-sm-8">
                    <input name="refundAmount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮件主动            跟进次数：</label>
                <div class="col-sm-8">
                    <input name="mailFollowTimes" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最后跟进时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="lastFollowTime" class="form-control" placeholder="yyyy/MM/dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否完成：</label>
                <div class="col-sm-8">
                    <input name="isdone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Feedback            Case ID：</label>
                <div class="col-sm-8">
                    <input name="feedbackCaseId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks2" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">图片一：</label>
                <div class="col-sm-8">
                    <input name="pic" class="form-control" type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图片二：</label>
                <div class="col-sm-8">
                    <input name="pic" class="form-control" type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图片三：</label>
                <div class="col-sm-8">
                    <input name="pic" class="form-control" type="file">
                </div>
            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 font-noraml">不良图片上传</label>-->
<!--                <div class="col-sm-8 file-loading">-->
<!--                    <input id="pic" name="pic" type="file" multiple>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">-->
                <label class="col-sm-3 control-label">不良图片上传</label>
                <div class="col-sm-8">

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-white btn-file"><span class="fileinput-new">选择图片</span>
                                <span class="fileinput-exists">更改</span><input name="pic" type="file"></span>
                            <a href="#" class="btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                    </div>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-white btn-file"><span class="fileinput-new">选择图片</span>
                                <span class="fileinput-exists">更改</span><input name="pic" type="file"></span>
                            <a href="#" class="btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                    </div>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                        <div>
                            <span class="btn btn-white btn-file"><span class="fileinput-new">选择图片</span>
                                <span class="fileinput-exists">更改</span><input name="pic" type="file"></span>
                            <a href="#" class="btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <th:block th:include="include :: jasny-bootstrap-js" />
    <script th:inline="javascript">
        //;
        var prefix = ctx + "pms/badcommodity"
        // $("#form-badcommodity-add").validate({
        //     focusCleanup: true
        // });

        function submitHandler() {
            if ($.validate.form()) {
                //$.operate.save(prefix + "/add", $('#form-badcommodity-add').serialize(),savePicture());
                save();
            }else{
                setTimeout(() => {
                    var isError = document.getElementsByClassName("error");
                    isError[0].focus();
                }, 1);
            }
        }
        // function savePicture(data){
        //
        //     $("#pic").fileinput("upload")
        // }

        $("input[name='orderDate']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='dealDate']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='lastFollowTime']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        function save() {
           //var formdata = $('#form-badcommodity-add').serialize();
            var formData = new FormData($( "#form-badcommodity-add" )[0]);
            $.ajax({
                url: prefix + "/add",
                data: formData,
                type: "post",
                cache: false,
                processData: false,
                contentType: false,
                success: function(result) {
                    $.operate.saveSuccess(result);
                }
            })

        }

        //跳转到订单号关联的退货列表页面
        function toOrderReturnPage(){
            var orderId = $("#orderId").val();
            var sku = $("input[name='sku']").val();
            var searchKey = orderId+"_"+sku;
            if(orderId==""){
                $.modal.alertWarning("请填入订单号！");
                return;
            }
            window.open("/oms/oderReturn?searchKey="+searchKey);
        }
        //跳转到订单号关联的退款列表页面
        function toOrderRefundPage(){
            var orderId = $("#orderId").val();
            var sku = $("input[name='sku']").val();
            var searchKey = orderId+"_"+sku;
            if(orderId==""){
                $.modal.alertWarning("请填入订单号！");
                return;
            }
            window.open("/oms/ordRefund?searchKey="+searchKey);
        }

        $(function(){
            //表单校验
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-badcommodity-add").validate({
                rules: {
                    orderId: {
                        required: true,
                        maxlength: 64
                    },
                    storeCode: {
                        required: true,
                        maxlength: 64
                    },
                    principal: {
                        required: true,
                        maxlength: 64
                    },
                    type: {
                        required: true,
                        maxlength: 64
                    },
                    sku: {
                        required: true,
                        maxlength: 64
                    },
                    badNum: {
                        required: true,
                        number: true
                    },
                    reissueNum: {
                        required: true,
                        number: true
                    },
                    refundNum: {
                        required: true,
                        number: true
                    },
                    remarks: {
                        required: true,
                        maxlength: 64
                    }
                },
                messages: {
                    orderId: {
                        required: icon + "请输入订单号",
                        maxlength: icon + "订单号过长"
                    },
                    storeCode: {
                        required: icon + "请输入账户站点",
                        maxlength: icon + "账户站点过长"
                    },
                    principal: {
                        required: icon + "请输入型号",
                        maxlength: icon + "型号过长"
                    },
                    type: {
                        required: icon + "请输入标准SKU",
                        maxlength: icon + "标准SKU过长"
                    },
                    sku: {
                        required: icon + "请输入标准SKU",
                        maxlength: icon + "标准SKU过长"
                    },badNum: {
                        required: icon + "请输入不良总数",
                        number: icon + "不良总数必须为数字"
                    },
                    reissueNum: {
                        required: icon + "请输入补发数量",
                        number: icon + "补发数量必须为数字"
                    },
                    refundNum: {
                        required: icon + "请输入退款数量",
                        number: icon + "退款数量必须为数字"
                    },
                    remarks: {
                        required: icon + "请输入备注",
                        maxlength: icon + "备注过长"
                    }
                }
            });

        });


    </script>
</body>
<script>
    function getAndFillOrderData(){
        var orderId = $("#orderId").val();
        var sku = $("input[name='sku']").val();
        $.get(prefix+"/getOrderReturnVo?orderId="+orderId+"&sku="+sku,function(result){
            if(result.code==0){
                $("input[name='storeCode']").val(result.data.storeCode);
                //$("input[name='sku']").val(result.data.sku);
                //reasonForcn
                $("#badReason").val(result.data.reasonForcn);
            }else{
                layer.msg(result.msg, {icon: 2});
            }
        });
    }
</script>
</html>