<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改不良记录')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-badcommodity-edit" th:object="${badCommodity}" enctype="multipart/form-data">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">账户站点：</label>
                <div class="col-sm-8">
                    <input name="storeCode" th:field="*{storeCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售负责人：</label>
                <div class="col-sm-8">
                    <input name="principal" th:field="*{principal}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="orderDate" th:value="${#dates.format(badCommodity.orderDate, 'yyyy/MM/dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">处理日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dealDate" th:value="${#dates.format(badCommodity.dealDate, 'yyyy/MM/dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单号或无订单号：</label>
                <div class="col-sm-8">
                    <input name="orderId" th:field="*{orderId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">型号：</label>
                <div class="col-sm-8">
                    <input name="type" th:field="*{type}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准SKU：</label>
                <div class="col-sm-8">
                    <input name="sku" th:field="*{sku}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良总数            ：</label>
                <div class="col-sm-8">
                    <input name="badNum" th:field="*{badNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发数量            ：</label>
                <div class="col-sm-8">
                    <input name="reissueNum" th:field="*{reissueNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款数量            ：</label>
                <div class="col-sm-8">
                    <input name="refundNum" th:field="*{refundNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">追溯码：</label>
                <div class="col-sm-8">
                    <input name="tracebackCode" th:field="*{tracebackCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良原因：</label>
                <div class="col-sm-8">
                    <select name="badReason" class="form-control m-b" th:with="type=${@dict.getType('pms_bad_reason')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{badReason}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks" th:field="*{remarks}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品不良解决方式：</label>
                <div class="col-sm-8">
                    <select name="solution" class="form-control m-b" th:with="type=${@dict.getType('pms_bad_dealmethod')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{solution}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良来源：</label>
                <div class="col-sm-8">
                    <select name="badSource" class="form-control m-b" th:with="type=${@dict.getType('oms_bad_source')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{badSource}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">FBA SKU：</label>
                <div class="col-sm-8">
                    <input name="fbaSku" th:field="*{fbaSku}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">return-date：</label>
                <div class="col-sm-8">
                    <input name="returnDate" th:field="*{returnDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">型号2：</label>
                <div class="col-sm-8">
                    <input name="type2" th:field="*{type2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">每套个数：</label>
                <div class="col-sm-8">
                    <input name="eachsetNum" th:field="*{eachsetNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良总个数：</label>
                <div class="col-sm-8">
                    <input name="badNum2" th:field="*{badNum2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发或退款            易仓SKU：</label>
                <div class="col-sm-8">
                    <input name="ycSku" th:field="*{ycSku}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发数量            ：</label>
                <div class="col-sm-8">
                    <input name="reissue2" th:field="*{reissue2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发跟踪号：</label>
                <div class="col-sm-8">
                    <input name="reissueTrackingId" th:field="*{reissueTrackingId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">补发是否送达：</label>
                <div class="col-sm-8">
                    <select name="isdelivered" class="form-control m-b" th:with="type=${@dict.getType('sys_common_ whether')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{isdelivered}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款数量            ：</label>
                <div class="col-sm-8">
                    <input name="refundNum2" th:field="*{refundNum2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款金额            ：</label>
                <div class="col-sm-8">
                    <input name="refundAmount" th:field="*{refundAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮件主动            跟进次数：</label>
                <div class="col-sm-8">
                    <input name="mailFollowTimes" th:field="*{mailFollowTimes}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最后跟进时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="lastFollowTime" th:value="${#dates.format(badCommodity.lastFollowTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否完成：</label>
                <div class="col-sm-8">
                    <select name="isdone" class="form-control m-b" th:with="type=${@dict.getType('sys_common_ whether')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{isdone}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Feedback            Case ID：</label>
                <div class="col-sm-8">
                    <input name="feedbackCaseId" th:field="*{feedbackCaseId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks2" th:field="*{remarks2}" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">不良图片一：</label>
                <div class="col-sm-8">
                    <input name="picUrl1" th:field="*{picUrl1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良图片二：</label>
                <div class="col-sm-8">
                    <input name="picUrl2" th:field="*{picUrl2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">不良图片三：</label>
                <div class="col-sm-8">
                    <input name="picUrl3" th:field="*{picUrl3}" class="form-control" type="text">
                </div>
            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 font-noraml">不良图片上传</label>-->
<!--                <div class="col-sm-8 file-loading">-->
<!--                    <input id="pic" name="pic" type="file" multiple>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">不良图片：</label>-->
<!--                <div class="fileinput fileinput-new input-group col-sm-8" data-provides="fileinput">-->
<!--                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>-->
<!--                    <span class="input-group-addon btn btn-white btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">更改</span><input type="file" name="pic"></span>-->
<!--                    <a id="clearFileInputA" href="#" class="input-group-addon btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">不良图片：</label>
                <div class="fileinput fileinput-new input-group col-sm-8" id="fileinputDiv">
                    <input name="pic" class="btn btn-default" type="file" id="pic" style="display: none;">
                    <input class="btn btn-default" onclick="javascript:$('#pic').click()" value="选择图片" type="button">
                </div>
            </div>
            <div class="form-group">
<!--                <label class="col-sm-3 control-label">备注：</label>-->
                    <div class="col-sm-11" id="picArea">
                        <div class="" style="float: left;margin: 10px;" th:each="item,stat:*{badCommodityPicturebList}" th:id="${item.picNo}">
                            <div class="thumbnail" style="width: 190px;height: 190px;">
                                <img name="badImage" th:src="${item.path}"
                                     alt="通用的占位符缩略图" style="width: 190px;height: 190px;">
                            </div>
                            <a class="btn btn-danger" th:onclick="javascript:deletePic([[${item.picNo}]])">
                                <i class="fa fa-remove"></i> 删除
                            </a>
                            <a class="btn btn-success" onclick="$.operate.add()" th:onclick="window.open([[${item.path}]])"><!--th:onclick="javascript:lookPic([[${item.picNo}]])"-->
                                <i class="fa fa-plus"></i> 查看
                            </a>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <th:block th:include="include :: jasny-bootstrap-js" />
    <script th:inline="javascript">
        var prefix = ctx + "pms/badcommodity";

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-badcommodity-edit').serialize());
                //save();
            }else{
                setTimeout(() => {
                    var isError = document.getElementsByClassName("error");
                    isError[0].focus();
                }, 1);
            }
        }

        $("input[name='orderDate']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='dealDate']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='lastFollowTime']").datetimepicker({
            format: "yyyy/mm/dd",
            minView: "month",
            autoclose: true
        });

        //保存数据
        function save() {
            //var formdata = $('#form-badcommodity-add').serialize();
            var formData = new FormData($( "#form-badcommodity-add" )[0]);
            $.ajax({
                url: prefix + "/edit",
                data: formData,
                type: "post",
                cache: false,
                processData: false,
                contentType: false,
                success: function(result) {
                    $.operate.saveSuccess(result);
                }
            })

        }

        //绑定pic的change事件
        $('#pic').bind('change', function (e) {
            var formData = new FormData($( "#form-badcommodity-edit" )[0]);
            $.ajax({
                url: prefix + "/uploadBadRecordPicture",
                data: formData,
                type: "post",
                cache: false,
                processData: false,
                contentType: false,
                success: function(result) {
                    if(result.code==0){
                        $("#picArea").append('<div class="" style="float: left;margin: 10px;" id="'+result.data.picNo+'">\n' +
                            '                            <div class="thumbnail" style="width: 190px;height: 190px;">\n' +
                            '                                <img name="badImage" src="'+result.data.path+'"\n' +
                            '                                     alt="通用的占位符缩略图" style="width: 190px;height: 190px;">\n' +
                            '                            </div>\n' +
                            '                            <a class="btn btn-danger" onclick="javascript:deletePic('+result.data.picNo+')">\n' +
                            '                                <i class="fa fa-remove"></i> 删除\n' +
                            '                            </a>\n' +
                            '                            <a class="btn btn-success" onclick="window.open(\''+result.data.path+'\')">\n' +
                            '                                <i class="fa fa-plus"></i> 查看\n' +
                            '                            </a>' +
                            '                        </div>')
                        //上传文件空间置空

                        document.getElementById('pic').value = '';
                        // var obj = document.getElementById('pic') ;
                        // obj.outerHTML=obj.outerHTML;
                        //$("#pic").remove();
                        //$("#fileinputDiv").append("<input name=\"pic\" class=\"btn btn-default\" type=\"file\" id=\"pic\">");
                    }
                    //$.operate.saveSuccess(result);
                }
            })
        });

        //删除图片
        function deletePic(picNo){
            $.post(prefix+"/deleteBadRecordPicture",{id:$("input[name='id']").val(),picNo:picNo},function (result) {
                if(result.code==0){
                    $.modal.alertSuccess("删除成功!");
                    $("#"+picNo).remove();
                }else{
                    $.modal.alertError("删除失败!")
                }
            });
        }

        $(function(){
            //表单校验
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#form-badcommodity-edit").validate({
                rules: {
                    orderId: {
                        required: true,
                        maxlength: 64
                    },
                    storeCode: {
                        required: true,
                        maxlength: 64
                    },
                    principal: {
                        required: true,
                        maxlength: 64
                    },
                    type: {
                        required: true,
                        maxlength: 64
                    },
                    sku: {
                        required: true,
                        maxlength: 64
                    },
                    badNum: {
                        required: true,
                        number: true
                    },
                    reissueNum: {
                        required: true,
                        number: true
                    },
                    refundNum: {
                        required: true,
                        number: true
                    },
                    remarks: {
                        required: true,
                        maxlength: 64
                    }
                },
                messages: {
                    orderId: {
                        required: icon + "请输入订单号",
                        maxlength: icon + "订单号过长"
                    },
                    storeCode: {
                        required: icon + "请输入账户站点",
                        maxlength: icon + "账户站点过长"
                    },
                    principal: {
                        required: icon + "请输入销售负责人",
                        maxlength: icon + "销售负责人过长"
                    },
                    type: {
                        required: icon + "请输入型号",
                        maxlength: icon + "型号过长"
                    },
                    sku: {
                        required: icon + "请输入标准SKU",
                        maxlength: icon + "标准SKU过长"
                    },badNum: {
                        required: icon + "请输入不良总数",
                        number: icon + "不良总数必须为数字"
                    },
                    reissueNum: {
                        required: icon + "请输入补发数量",
                        number: icon + "补发数量必须为数字"
                    },
                    refundNum: {
                        required: icon + "请输入退款数量",
                        number: icon + "退款数量必须为数字"
                    },
                    remarks: {
                        required: icon + "请输入备注",
                        maxlength: icon + "备注过长"
                    }
                }
            });

        });
    </script>
</body>
</html>