<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('仓储记录列表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list" id="searchArea">
                        <ul>
                            <li>
                                <label>月份：</label>
                                <input type="text" class="form-control" placeholder="请选择月份" name="month" id="month" style="width: 100px;display: inline;"/>
                            </li>
                            <li>
                                <label>账号：</label>
                                <select class="type form-control" style="width: 100px;display: inline;" name="account" id="account">
                                    <option value="">-请选择-</option>
                                </select>
                            </li>
                            <li>
                                <label>站点：</label>
                                <select class="router form-control" style="width: 100px;display: inline;" name="site" id="site">
                                    <option value="">-请选择-</option>
                                </select>
                            </li>
<!--                            <li>-->
<!--                                <label>account：</label>-->
<!--                                <input type="text" class="form-control" name="account" style="width: 100px;display: inline;" id="account"/>-->
<!--                            </li>-->
                            <li>
                                <label>国家代码：</label>
                                <input type="text" class="form-control" name="countryCode" style="width: 100px;display: inline;"/>
                            </li>
                            <li>
                                <label>asin：</label>
                                <input type="text" name="asin"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="sms:storageRecord:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="sms:storageRecord:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sms:storageRecord:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-danger" onclick="unlockData()" shiro:hasPermission="oms:removalDetail:remove">
                    <i class="fa fa-remove"></i> 解锁并删除数据
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sms:storageRecord:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-info" onclick="importExcel()" shiro:hasPermission="sms:storageRecord:export">
                    <i class="fa fa-upload"></i> 导入
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: datetimepicker-js" />
     <th:block th:include="include :: jquery-cxselect-js" />
     <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('sms:storageRecord:edit')}]];
        var removeFlag = [[${@permission.hasPermi('sms:storageRecord:remove')}]];
        var prefix = ctx + "sms/storageRecord";

        $(function() {
            init_month();//初始化上方时间条件

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                modalName: "仓储记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'month',
                    title: 'month-of-charge'
                },
                {
                    field: 'account',
                    title: 'account'
                },
                {
                    field: 'countryCode',
                    title: 'country-code'
                },
                {
                    field: 'asin',
                    title: 'asin'
                },
                {
                    field: 'itemVolume',
                    title: 'item-volume'
                },
                {
                    field: 'currency',
                    title: 'currency'
                },
                {
                    field: 'storageFee',
                    title: 'estimated-monthly-storage-fee'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        //弹出导入框
        function importExcel(formId, width, height) {
            table.set();
            var _width = $.common.isEmpty(width) ? "400" : width;
            var _height = $.common.isEmpty(height) ? "230" : height;
            layer.open({
                type: 2,
                area: [_width + 'px', _height + 'px'],
                fix: false,
                //不固定
                maxmin: true,
                shade: 0.3,
                title: '导入' + table.options.modalName + '数据',
                content: prefix + "/showImportPage",
                //url: prefix + "/showImportPage",
                btn: ['<i class="fa fa-check"></i> 导入', '<i class="fa fa-remove"></i> 取消'],
                // 弹层外区域关闭
                shadeClose: true,
                btn1: function(index, layero){
                    var body = layer.getChildFrame('body', index); //得到iframe页的body内容
                    var file = body.find("#file").val();

                    if (file == '' || (!$.common.endWith(file, '.csv'))){
                        $.modal.msgWarning("请选择后缀为 “csv”的文件。");
                        return false;
                    }
                    var index = layer.load(2, {shade: false});
                    $.modal.disable();
                    var formData = new FormData(body.find('form')[0]);
                    $.ajax({
                        url: table.options.importUrl,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        success: function (result) {
                            if (result.code == web_status.SUCCESS) {
                                $.modal.closeAll();
                                $.modal.alertSuccess(result.msg);
                                $.table.refresh();
                            } else if (result.code == web_status.WARNING) {
                                layer.close(index);
                                $.modal.enable();
                                $.modal.alertWarning(result.msg)
                            } else {
                                layer.close(index);
                                $.modal.enable();
                                $.modal.alertError(result.msg);
                            }
                        }
                    });
                }
            });
        }

        //设置时间选择器
        $("#month").datetimepicker({
            format: 'yyyy-mm',
            weekStart : 1,
            todayBtn : true,
            autoclose : 1,
            startView : 'year',
            maxView:'decade',
            minView :'year',
            forceParse : false,
            pickerPosition: "bottom-left"
        });

        //此方法用于填充本月于面上方输入月份的input
        function init_month(){
            var myDate = new Date();
            //获取当前年
            var year=myDate.getFullYear();

            var Last_month = new Date().getMonth()-1;

            if(Last_month==0){
                Last_month=12;
                year--;
            }

            //Last_month = ((Last_month == 0) ? (12) : (Last_month));
            //渲染页面上方输入月份的input
            $("#month").val(year+"-"+Last_month);
        }

        //渲染账号站点下拉框
        //initAccountSiteSearchArea();
        function  initAccountSiteSearchArea() {
            $.get("/ums/account/getJson4AccountSite",{},function(result){
                //data = JSON.parse(result);
                var data = eval('(' + result + ')');
                $('#searchArea').cxSelect({
                    selects: ['type', 'router'],
                    jsonValue: 'v',
                    data: data
                });
            });
        }

        //解锁并删除数据
        function unlockData(){
            var month = $("#month").val();
            var account = $("#account").val();
            var site = $("#site").val();
            if(month==''||account==''||site==''){
                $.modal.alertWarning("解锁的账号,站点或月份不能为空！");
                return false;
            }
            var confirmMsg = "确定解锁站点："+site+" "+month+"月份的仓储记录数据吗！";
            $.modal.confirm(confirmMsg, function() {
                $.post(prefix+"/unlockData",{month:month,account:account,site:site},function(result){
                    layer.msg(result.msg, {icon: 0});
                });
            });

        }

        //渲染账号站点下拉框
        initAccountSiteSearchArea();
        function  initAccountSiteSearchArea() {
            $.get("/ums/account/getJson4AccountSite",{},function(result){
                //data = JSON.parse(result);
                var data = eval('(' + result + ')');
                $('#searchArea').cxSelect({
                    selects: ['type', 'router'],
                    jsonValue: 'v',
                    data: data
                });
            });
        }
    </script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            站点:<input type="text" id="site" name="site"/>
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”,“xlsm”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>