<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('导入交易记录')" />
</head>
<body class="gray-bg">
     <div class="container-div">
         <form enctype="multipart/form-data" class="mt20 mb10">
             <div class="col-xs-offset-1">
<!--                 <input type="text" name="account" th:value="H4-EU" style="width: 50px;">-->
<!--                 站点：<select name="site">-->
<!--                 <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
<!--                 <option value="H4-UK">H4-UK</option>-->
<!--                 <option value="H4-DE">H4-DE</option>-->
<!--                 <option value="H4-FR">H4-FR</option>-->
<!--                 <option value="H4-IT">H4-IT</option>-->
<!--                 <option value="H4-ES">H4-ES</option>-->
                 <div id="element" class="">
                         账号：<select class="type" data-first-title="请选择" name="account">
                             <option value="">请选择</option>
                         </select>
                         站点：<select class="router" data-first-title="请选择" name="site">
                             <option value="">请选择</option>
                         </select>
                 </div>
<!--             </select>-->
                 <input type="file" id="file" name="file"/>
                 <div class="mt10 pt5">
<!--                     <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的数据-->
<!--                     &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>-->
                 </div>
                 <font color="red" class="pull-left mt10">
                     提示：仅允许导入“csv”格式文件！
                 </font>
             </div>
         </form>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        //var data = [{"n":"Q4","s":[{"n":"Q4-US","v":"Q4-US"},{"n":"Q4-CA","v":"Q4-CA"}],"v":"Q4"},{"n":"AGS","s":[{"n":"AGS-US","v":"AGS-US"},{"n":"AGS-CA","v":"AGS-CA"}],"v":"AGS"}];
        $(function() {
            initSelect();
            initSpareField();
        });
        //渲染下拉框
        function  initSelect() {
            $.get("/ums/account/getJson4AccountSite",{},function(result){
                //data = JSON.parse(result);
                var data = eval('(' + result + ')');
                $('#element').cxSelect({
                    selects: ['type', 'router'],
                    jsonValue: 'v',
                    data: data
                });
            });
        }
        //渲染类型
        function initSpareField(){
            if([[${showSpareField}]]){
                $("#element").append($('#spareFieldTpl').html());
            }
        }



    </script>
</body>
<!-- 导入区域 -->
<script id="spareFieldTpl" type="text/template">
    <span>类型：</span><select class="spareFieldClass" data-first-title="请选择" name="spareField">
        <option value="SO">SO</option>
        <option value="IO">IO</option>
    </select>
</script>
</html>