<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.compdata.advertising.mapper.AdvertisingMapper">



    <resultMap type="AdvertisingAnalyParamVo" id="AdvertisingAnalyParamVoResult">
        <result property="type"    column="type"    />
        <result property="storeCode"    column="storeCode"    />
        <result property="sku"    column="sku"    />
        <result property="asin"    column="asin"    />
    </resultMap>

    <resultMap type="AdvertisingAnalyVo" id="AdvertisingAnalyVoResult">
        <result property="month"    column="month"    />
        <result property="totalExposure"    column="totalExposure"    />
        <result property="totalClick"    column="totalClick"    />
        <result property="methCtr"    column="methCtr"    />
        <result property="totalAdvertisingOrder"    column="totalAdvertisingOrder"    />
        <result property="methCvr"    column="methCvr"    />
        <result property="maxSessions"    column="maxSessions"    />
        <result property="maxCvr"    column="maxCvr"    />
        <result property="totalAdvertisingSpend"    column="totalAdvertisingSpend"    />
        <result property="totalSales"    column="totalSales"    />
        <result property="methAcos"    column="methAcos"    />
        <result property="methAcoas"    column="methAcoas"    />
        <result property="methCpc"    column="methCpc"    />
        <result property="methAdvertisingOrderPercentage"    column="methAdvertisingOrderPercentage"    />
        <result property="methRefundRate"    column="methRefundRate"    />
        <result property="totalAdvertisingSales"    column="totalAdvertisingSales"    />
    </resultMap>

    <resultMap type="Advertising" id="AdvertisingResult">
        <result property="id"    column="id"    />
        <result property="storeCode"    column="store_code"    />
        <result property="country"    column="country"    />
        <result property="type"    column="type"    />
        <result property="asin"    column="asin"    />
        <result property="sku"    column="sku"    />
        <result property="click"    column="click"    />
        <result property="exposure"    column="exposure"    />
        <result property="month"    column="month"    />
        <result property="ctr"    column="ctr"    />
        <result property="cvr"    column="cvr"    />
        <result property="advertisingOrder"    column="advertising_order"    />
        <result property="advertisingSpend"    column="advertising_spend"    />
        <result property="acos"    column="acos"    />
        <result property="cpc"    column="cpc"    />
        <result property="advertisingOrderPercentage"    column="advertising_order_percentage"    />
        <result property="acoas"    column="acoas"    />
        <result property="refundRate"    column="refund_rate"    />
        <result property="sessions"    column="sessions"    />
        <result property="advertisingSales"    column="advertising_sales"    />
        <result property="sales"    column="sales"    />
        <result property="refund"    column="refund"    />
        <result property="orderNum"    column="order_num"    />
        <result property="salesNum"    column="sales_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isdelete"    column="isdelete"    />
    </resultMap>

    <sql id="selectAdvertisingVo">
        select id, store_code, country, type, asin, sku, click, exposure, month, ctr, cvr, advertising_order, advertising_spend, acos, cpc, advertising_order_percentage, acoas, refund_rate, sessions, advertising_sales, sales, refund, order_num, sales_num, create_by, create_time, update_by, update_time, isdelete from cpd_advertising
    </sql>

    <select id="selectAdvertisingList" parameterType="Advertising" resultMap="AdvertisingResult">
        <include refid="selectAdvertisingVo"/>
        <where>
            <if test="storeCode != null  and storeCode != ''"> and store_code = #{storeCode}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="asin != null  and asin != ''"> and asin = #{asin}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="click != null "> and click = #{click}</if>
            <if test="exposure != null "> and exposure = #{exposure}</if>
            <if test="month != null  and month != ''"> and month = #{month}</if>
            <if test="ctr != null "> and ctr = #{ctr}</if>
            <if test="cvr != null "> and cvr = #{cvr}</if>
            <if test="advertisingOrder != null "> and advertising_order = #{advertisingOrder}</if>
            <if test="advertisingSpend != null "> and advertising_spend = #{advertisingSpend}</if>
            <if test="acos != null "> and acos = #{acos}</if>
            <if test="cpc != null "> and cpc = #{cpc}</if>
            <if test="advertisingOrderPercentage != null "> and advertising_order_percentage = #{advertisingOrderPercentage}</if>
            <if test="acoas != null "> and acoas = #{acoas}</if>
            <if test="refundRate != null "> and refund_rate = #{refundRate}</if>
            <if test="sessions != null "> and sessions = #{sessions}</if>
            <if test="advertisingSales != null "> and advertising_sales = #{advertisingSales}</if>
            <if test="sales != null "> and sales = #{sales}</if>
            <if test="refund != null "> and refund = #{refund}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="salesNum != null "> and sales_num = #{salesNum}</if>
            <if test="isdelete != null "> and isdelete = #{isdelete}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAdvertisingById" parameterType="Long" resultMap="AdvertisingResult">
        <include refid="selectAdvertisingVo"/>
        where id = #{id}
    </select>

    <insert id="insertAdvertising" parameterType="Advertising" useGeneratedKeys="true" keyProperty="id">
        insert into cpd_advertising
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeCode != null">store_code,</if>
            <if test="country != null">country,</if>
            <if test="type != null">type,</if>
            <if test="asin != null">asin,</if>
            <if test="sku != null">sku,</if>
            <if test="click != null">click,</if>
            <if test="exposure != null">exposure,</if>
            <if test="month != null">month,</if>
            <if test="ctr != null">ctr,</if>
            <if test="cvr != null">cvr,</if>
            <if test="advertisingOrder != null">advertising_order,</if>
            <if test="advertisingSpend != null">advertising_spend,</if>
            <if test="acos != null">acos,</if>
            <if test="cpc != null">cpc,</if>
            <if test="advertisingOrderPercentage != null">advertising_order_percentage,</if>
            <if test="acoas != null">acoas,</if>
            <if test="refundRate != null">refund_rate,</if>
            <if test="sessions != null">sessions,</if>
            <if test="advertisingSales != null">advertising_sales,</if>
            <if test="sales != null">sales,</if>
            <if test="refund != null">refund,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="salesNum != null">sales_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isdelete != null">isdelete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeCode != null">#{storeCode},</if>
            <if test="country != null">#{country},</if>
            <if test="type != null">#{type},</if>
            <if test="asin != null">#{asin},</if>
            <if test="sku != null">#{sku},</if>
            <if test="click != null">#{click},</if>
            <if test="exposure != null">#{exposure},</if>
            <if test="month != null">#{month},</if>
            <if test="ctr != null">#{ctr},</if>
            <if test="cvr != null">#{cvr},</if>
            <if test="advertisingOrder != null">#{advertisingOrder},</if>
            <if test="advertisingSpend != null">#{advertisingSpend},</if>
            <if test="acos != null">#{acos},</if>
            <if test="cpc != null">#{cpc},</if>
            <if test="advertisingOrderPercentage != null">#{advertisingOrderPercentage},</if>
            <if test="acoas != null">#{acoas},</if>
            <if test="refundRate != null">#{refundRate},</if>
            <if test="sessions != null">#{sessions},</if>
            <if test="advertisingSales != null">#{advertisingSales},</if>
            <if test="sales != null">#{sales},</if>
            <if test="refund != null">#{refund},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="salesNum != null">#{salesNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isdelete != null">#{isdelete},</if>
        </trim>
    </insert>

    <update id="updateAdvertising" parameterType="Advertising">
        update cpd_advertising
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeCode != null">store_code = #{storeCode},</if>
            <if test="country != null">country = #{country},</if>
            <if test="type != null">type = #{type},</if>
            <if test="asin != null">asin = #{asin},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="click != null">click = #{click},</if>
            <if test="exposure != null">exposure = #{exposure},</if>
            <if test="month != null">month = #{month},</if>
            <if test="ctr != null">ctr = #{ctr},</if>
            <if test="cvr != null">cvr = #{cvr},</if>
            <if test="advertisingOrder != null">advertising_order = #{advertisingOrder},</if>
            <if test="advertisingSpend != null">advertising_spend = #{advertisingSpend},</if>
            <if test="acos != null">acos = #{acos},</if>
            <if test="cpc != null">cpc = #{cpc},</if>
            <if test="advertisingOrderPercentage != null">advertising_order_percentage = #{advertisingOrderPercentage},</if>
            <if test="acoas != null">acoas = #{acoas},</if>
            <if test="refundRate != null">refund_rate = #{refundRate},</if>
            <if test="sessions != null">sessions = #{sessions},</if>
            <if test="advertisingSales != null">advertising_sales = #{advertisingSales},</if>
            <if test="sales != null">sales = #{sales},</if>
            <if test="refund != null">refund = #{refund},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="salesNum != null">sales_num = #{salesNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isdelete != null">isdelete = #{isdelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdvertisingById" parameterType="Long">
        delete from cpd_advertising where id = #{id}
    </delete>

    <delete id="deleteAdvertisingByIds" parameterType="String">
        delete from cpd_advertising where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAdvertisingByOnlyCondition" resultMap="AdvertisingResult">
        <include refid="selectAdvertisingVo"/>
        where store_code = #{storeCode} and asin = #{asin} and month = #{month}
    </select>


    <select id="selectAdvertisingAnaly" resultMap="AdvertisingAnalyVoResult" parameterType="advertisingAnalyParamVo">
        select `month`,SUM(exposure) as totalExposure,
               SUM(click) as totalClick,
               SUM(click)/SUM(exposure) as methCtr,
               SUM(advertising_order) as totalAdvertisingOrder,
               SUM(advertising_order)/SUM(click) as methCvr,
               MAX(sessions) as maxSessions ,
               MAX(cvr) as maxCvr,
               SUM(advertising_spend) as totalAdvertisingSpend,
               SUM(advertising_sales) as totalAdvertisingSales,
               SUM(sales) as totalSales,
               SUM(advertising_spend)/SUM(advertising_sales) as methAcos,
               SUM(advertising_spend)/SUM(sales) as methAcoas,
               SUM(advertising_spend)/SUM(click) as methCpc,
               SUM(advertising_order)/SUM(order_num) as methAdvertisingOrderPercentage,
               SUM(refund)/SUM(sales_num) as methRefundRate
               from cpd_advertising
        <where>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="storeCode != null  and storeCode != ''"> and store_code = #{storeCode}</if>
            <if test="asin != null  and asin != ''"> and asin = #{asin}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
        </where>
              GROUP BY `month`
    </select>


    <update id="updateAdvertisingByOnlyCondition" parameterType="Advertising">
        update cpd_advertising
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeCode != null">store_code = #{storeCode},</if>
            <if test="country != null">country = #{country},</if>
            <if test="type != null">type = #{type},</if>
            <if test="asin != null">asin = #{asin},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="click != null">click = #{click},</if>
            <if test="exposure != null">exposure = #{exposure},</if>
            <if test="month != null">month = #{month},</if>
            <if test="ctr != null">ctr = #{ctr},</if>
            <if test="cvr != null">cvr = #{cvr},</if>
            <if test="advertisingOrder != null">advertising_order = #{advertisingOrder},</if>
            <if test="advertisingSpend != null">advertising_spend = #{advertisingSpend},</if>
            <if test="acos != null">acos = #{acos},</if>
            <if test="cpc != null">cpc = #{cpc},</if>
            <if test="advertisingOrderPercentage != null">advertising_order_percentage = #{advertisingOrderPercentage},</if>
            <if test="acoas != null">acoas = #{acoas},</if>
            <if test="refundRate != null">refund_rate = #{refundRate},</if>
            <if test="sessions != null">sessions = #{sessions},</if>
            <if test="advertisingSales != null">advertising_sales = #{advertisingSales},</if>
            <if test="sales != null">sales = #{sales},</if>
            <if test="refund != null">refund = #{refund},</if>
            <if test="salesNum != null">sales_num = #{salesNum},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
        </trim>
        where store_code = #{storeCode} and asin = #{asin} and month = #{month}
    </update>

    <select id="selectDistinctColumn" resultType="java.lang.String" parameterType="advertisingAnalyParamVo">
        SELECT DISTINCT ${columnName} from cpd_advertising
        <where>
            <if test="advertisingAnalyParamVo.type != null  and advertisingAnalyParamVo.type != ''"> and type = #{advertisingAnalyParamVo.type}</if>
            <if test="advertisingAnalyParamVo.storeCode != null  and advertisingAnalyParamVo.storeCode != ''"> and store_code = #{advertisingAnalyParamVo.storeCode}</if>
            <if test="advertisingAnalyParamVo.asin != null  and advertisingAnalyParamVo.asin != ''"> and asin = #{advertisingAnalyParamVo.asin}</if>
            <if test="advertisingAnalyParamVo.sku != null  and advertisingAnalyParamVo.sku != ''"> and sku = #{advertisingAnalyParamVo.sku}</if>
        </where>
    </select>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <foreach collection ="insertList" item="advertising" separator=";">
        insert into cpd_advertising
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="advertising.storeCode != null">store_code,</if>
            <if test="advertising.country != null">country,</if>
            <if test="advertising.type != null">type,</if>
            <if test="advertising.asin != null">asin,</if>
            <if test="advertising.sku != null">sku,</if>
            <if test="advertising.click != null">click,</if>
            <if test="advertising.exposure != null">exposure,</if>
            <if test="advertising.month != null">month,</if>
            <if test="advertising.ctr != null">ctr,</if>
            <if test="advertising.cvr != null">cvr,</if>
            <if test="advertising.advertisingOrder != null">advertising_order,</if>
            <if test="advertising.advertisingSpend != null">advertising_spend,</if>
            <if test="advertising.acos != null">acos,</if>
            <if test="advertising.cpc != null">cpc,</if>
            <if test="advertising.advertisingOrderPercentage != null">advertising_order_percentage,</if>
            <if test="advertising.acoas != null">acoas,</if>
            <if test="advertising.refundRate != null">refund_rate,</if>
            <if test="advertising.sessions != null">sessions,</if>
            <if test="advertising.advertisingSales != null">advertising_sales,</if>
            <if test="advertising.sales != null">sales,</if>
            <if test="advertising.refund != null">refund,</if>
            <if test="advertising.orderNum != null">order_num,</if>
            <if test="advertising.salesNum != null">sales_num,</if>
            <if test="advertising.createBy != null">create_by,</if>
            <if test="advertising.createTime != null">create_time,</if>
            <if test="advertising.updateBy != null">update_by,</if>
            <if test="advertising.updateTime != null">update_time,</if>
            <if test="advertising.isdelete != null">isdelete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="advertising.storeCode != null">#{advertising.storeCode},</if>
            <if test="advertising.country != null">#{advertising.country},</if>
            <if test="advertising.type != null">#{advertising.type},</if>
            <if test="advertising.asin != null">#{advertising.asin},</if>
            <if test="advertising.sku != null">#{advertising.sku},</if>
            <if test="advertising.click != null">#{advertising.click},</if>
            <if test="advertising.exposure != null">#{advertising.exposure},</if>
            <if test="advertising.month != null">#{advertising.month},</if>
            <if test="advertising.ctr != null">#{advertising.ctr},</if>
            <if test="advertising.cvr != null">#{advertising.cvr},</if>
            <if test="advertising.advertisingOrder != null">#{advertising.advertisingOrder},</if>
            <if test="advertising.advertisingSpend != null">#{advertising.advertisingSpend},</if>
            <if test="advertising.acos != null">#{advertising.acos},</if>
            <if test="advertising.cpc != null">#{advertising.cpc},</if>
            <if test="advertising.advertisingOrderPercentage != null">#{advertising.advertisingOrderPercentage},</if>
            <if test="advertising.acoas != null">#{advertising.acoas},</if>
            <if test="advertising.refundRate != null">#{advertising.refundRate},</if>
            <if test="advertising.sessions != null">#{advertising.sessions},</if>
            <if test="advertising.advertisingSales != null">#{advertising.advertisingSales},</if>
            <if test="advertising.sales != null">#{advertising.sales},</if>
            <if test="advertising.refund != null">#{advertising.refund},</if>
            <if test="advertising.orderNum != null">#{advertising.orderNum},</if>
            <if test="advertising.salesNum != null">#{advertising.salesNum},</if>
            <if test="advertising.createBy != null">#{advertising.createBy},</if>
            <if test="advertising.createTime != null">#{advertising.createTime},</if>
            <if test="advertising.updateBy != null">#{advertising.updateBy},</if>
            <if test="advertising.updateTime != null">#{advertising.updateTime},</if>
            <if test="advertising.isdelete != null">#{advertising.isdelete},</if>

        </trim>
        </foreach>
    </insert>

    <update id="batchUpdateByOnlyCondition" parameterType="Advertising">
        update cpd_advertising
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeCode != null">store_code = #{storeCode},</if>
            <if test="country != null">country = #{country},</if>
            <if test="type != null">type = #{type},</if>
            <if test="asin != null">asin = #{asin},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="click != null">click = #{click},</if>
            <if test="exposure != null">exposure = #{exposure},</if>
            <if test="month != null">month = #{month},</if>
            <if test="ctr != null">ctr = #{ctr},</if>
            <if test="cvr != null">cvr = #{cvr},</if>
            <if test="advertisingOrder != null">advertising_order = #{advertisingOrder},</if>
            <if test="advertisingSpend != null">advertising_spend = #{advertisingSpend},</if>
            <if test="acos != null">acos = #{acos},</if>
            <if test="cpc != null">cpc = #{cpc},</if>
            <if test="advertisingOrderPercentage != null">advertising_order_percentage = #{advertisingOrderPercentage},</if>
            <if test="acoas != null">acoas = #{acoas},</if>
            <if test="refundRate != null">refund_rate = #{refundRate},</if>
            <if test="sessions != null">sessions = #{sessions},</if>
            <if test="advertisingSales != null">advertising_sales = #{advertisingSales},</if>
            <if test="sales != null">sales = #{sales},</if>
            <if test="refund != null">refund = #{refund},</if>
            <if test="salesNum != null">sales_num = #{salesNum},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
        </trim>
        where store_code = #{storeCode} and asin = #{asin} and month = #{month}
    </update>

<!--    <update id="updateAdvertisingByAsinTypeRelation" parameterType="AsinTypeRelation">-->
<!--        update  cpd_advertising set type=#{type} where type is NULL and asin=#{asin}-->
<!--    </update>-->

    <!-- 批量更新第二种方法，通过 case when语句变相的进行批量更新 -->
    <update id="updateAdvertisingByAsinTypeRelation" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" separator=";">
            update cpd_advertising
        <trim prefix="set" suffixOverrides=",">
                 type=#{item.type}
        </trim>
        where type is null and asin=#{item.asin}
        </foreach>
    </update>


    <!-- 防止数据量大的时候查询速度变慢，这里使用了union all -->
    <select id="selectAdvertisingWhenTypeIsNull" resultMap="AdvertisingResult">
        <include refid="selectAdvertisingVo"/>
        where type is null
        union all
        <include refid="selectAdvertisingVo"/>
        where type =''
    </select>

</mapper>