<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.oms.removalDetail.mapper.RemovalDetailMapper">
    
    <resultMap type="RemovalDetail" id="RemovalDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderType"    column="order_type"    />
        <result property="sku"    column="sku"    />
        <result property="removalFee"    column="removal_fee"    />
        <result property="currency"    column="currency"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRemovalDetailVo">
        select id, order_id, order_type, sku, removal_fee, currency, create_by, create_time, update_by, update_time from oms_removal_detail
    </sql>

    <select id="selectRemovalDetailList" parameterType="RemovalDetail" resultMap="RemovalDetailResult">
        <include refid="selectRemovalDetailVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="orderType != null  and orderType != ''"> and order_type = #{orderType}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="removalFee != null "> and removal_fee = #{removalFee}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectRemovalDetailById" parameterType="Long" resultMap="RemovalDetailResult">
        <include refid="selectRemovalDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRemovalDetail" parameterType="RemovalDetail" useGeneratedKeys="true" keyProperty="id">
        insert into oms_removal_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderType != null">order_type,</if>
            <if test="sku != null">sku,</if>
            <if test="removalFee != null">removal_fee,</if>
            <if test="currency != null">currency,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="sku != null">#{sku},</if>
            <if test="removalFee != null">#{removalFee},</if>
            <if test="currency != null">#{currency},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRemovalDetail" parameterType="RemovalDetail">
        update oms_removal_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="removalFee != null">removal_fee = #{removalFee},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRemovalDetailById" parameterType="Long">
        delete from oms_removal_detail where id = #{id}
    </delete>

    <delete id="deleteRemovalDetailByIds" parameterType="String">
        delete from oms_removal_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <select id="selectRemovalDetailByOnlyCondition" parameterType="RemovalDetail" resultMap="RemovalDetailResult">
        <include refid="selectRemovalDetailVo"/>
        where order_id = #{orderId} and order_type = #{orderType} and sku = #{sku}
    </select>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <update id="updateRemovalDetailByOnlyCondition" parameterType="RemovalDetail">
        update oms_removal_detail
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="orderId != null">order_id = #{orderId},</if>
                                                                <if test="orderType != null">order_type = #{orderType},</if>
                                                                <if test="sku != null">sku = #{sku},</if>
                                                                <if test="removalFee != null">removal_fee = #{removalFee},</if>
                                                                <if test="currency != null">currency = #{currency},</if>
                                                                <if test="createBy != null">create_by = #{createBy},</if>
                                                                <if test="createTime != null">create_time = #{createTime},</if>
                                                                <if test="updateBy != null">update_by = #{updateBy},</if>
                                                                <if test="updateTime != null">update_time = #{updateTime},</if>
                                    </trim>
        where order_id = #{orderId} and order_type = #{orderType} and sku = #{sku}
    </update>

</mapper>