<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.oms.transactionRecord.mapper.TransactionRecordMapper">

    <resultMap type="TransactionRecord" id="TransactionRecordResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="site"    column="site"    />
        <result property="month"    column="month"    />
        <result property="time"    column="time"    />
        <result property="settlementId"    column="settlement_id"    />
        <result property="type"    column="type"    />
        <result property="orderId"    column="order_id"    />
        <result property="sku"    column="sku"    />
        <result property="description"    column="description"    />
        <result property="quantity"    column="quantity"    />
        <result property="marketplace"    column="marketplace"    />
        <result property="fulfilment"    column="fulfilment"    />
        <result property="orderCity"    column="order_city"    />
        <result property="orderState"    column="order_state"    />
        <result property="orderPostal"    column="order_postal"    />
        <result property="taxCollectionModel"    column="tax_collection_model"    />
        <result property="productSales"    column="product_sales"    />
        <result property="productSalesTax"    column="product_sales_tax"    />
        <result property="postageCredits"    column="postage_credits"    />
        <result property="shippingCreditsTax"    column="shipping_credits_tax"    />
        <result property="giftWrapCredits"    column="gift_wrap_credits"    />
        <result property="giftwrapCreditsTax"    column="giftwrap_credits_tax"    />
        <result property="promotionalRebates"    column="promotional_rebates"    />
        <result property="promotionalRebatesTax"    column="promotional_rebates_tax"    />
        <result property="marketplaceWithheldTax"    column="marketplace_withheld_tax"    />
        <result property="sellingFees"    column="selling_fees"    />
        <result property="fbaFees"    column="fba_fees"    />
        <result property="otherTransactionFees"    column="other_transaction_fees"    />
        <result property="other"    column="other"    />
        <result property="total"    column="total"    />
        <result property="standardSku"    column="standard_sku"    />
        <result property="spu"    column="spu"    />
        <result property="principal"    column="principal"    />
        <result property="chargType"    column="charg_type"    />
        <result property="spareField"    column="spare_field"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="BLDTransactionRecordVo" id="BLDTransactionRecordVoResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="site"    column="site"    />
        <result property="month"    column="month"    />
        <result property="time"    column="time"    />
        <result property="settlementId"    column="settlement_id"    />
        <result property="type"    column="type"    />
        <result property="orderId"    column="order_id"    />
        <result property="sku"    column="sku"    />
        <result property="description"    column="description"    />
        <result property="quantity"    column="quantity"    />
        <result property="marketplace"    column="marketplace"    />
        <result property="fulfilment"    column="fulfilment"    />
        <result property="orderCity"    column="order_city"    />
        <result property="orderState"    column="order_state"    />
        <result property="orderPostal"    column="order_postal"    />
        <result property="taxCollectionModel"    column="tax_collection_model"    />
        <result property="productSales"    column="product_sales"    />
        <result property="productSalesTax"    column="product_sales_tax"    />
        <result property="postageCredits"    column="postage_credits"    />
        <result property="shippingCreditsTax"    column="shipping_credits_tax"    />
        <result property="giftWrapCredits"    column="gift_wrap_credits"    />
        <result property="giftwrapCreditsTax"    column="giftwrap_credits_tax"    />
        <result property="promotionalRebates"    column="promotional_rebates"    />
        <result property="promotionalRebatesTax"    column="promotional_rebates_tax"    />
        <result property="marketplaceWithheldTax"    column="marketplace_withheld_tax"    />
        <result property="sellingFees"    column="selling_fees"    />
        <result property="fbaFees"    column="fba_fees"    />
        <result property="otherTransactionFees"    column="other_transaction_fees"    />
        <result property="other"    column="other"    />
        <result property="total"    column="total"    />
        <result property="standardSku"    column="standard_sku"    />
        <result property="spu"    column="spu"    />
        <result property="principal"    column="principal"    />
        <result property="chargType"    column="charg_type"    />
        <result property="spareField"    column="spare_field"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="asin"    column="asin"    />
    </resultMap>

    <sql id="selectTransactionRecordVo">
        select id, account, site, month, time, settlement_id, type, order_id, sku, description, quantity, marketplace, fulfilment, order_city, order_state, order_postal, tax_collection_model, product_sales, product_sales_tax, postage_credits, shipping_credits_tax, gift_wrap_credits, giftwrap_credits_tax, promotional_rebates, promotional_rebates_tax, marketplace_withheld_tax, selling_fees, fba_fees, other_transaction_fees, other, total, standard_sku, spu, principal, charg_type, spare_field, create_by, create_time, update_by, update_time from oms_transaction_record
    </sql>

    <select id="selectTransactionRecordList" parameterType="TransactionRecord" resultMap="TransactionRecordResult">
        <include refid="selectTransactionRecordVo"/>
        <where>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="settlementId != null  and settlementId != ''"> and settlement_id = #{settlementId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="marketplace != null  and marketplace != ''"> and marketplace = #{marketplace}</if>
            <if test="fulfilment != null  and fulfilment != ''"> and fulfilment = #{fulfilment}</if>
            <if test="orderCity != null  and orderCity != ''"> and order_city = #{orderCity}</if>
            <if test="orderState != null  and orderState != ''"> and order_state = #{orderState}</if>
            <if test="orderPostal != null  and orderPostal != ''"> and order_postal = #{orderPostal}</if>
            <if test="taxCollectionModel != null  and taxCollectionModel != ''"> and tax_collection_model = #{taxCollectionModel}</if>
            <if test="productSales != null "> and product_sales = #{productSales}</if>
            <if test="productSalesTax != null "> and product_sales_tax = #{productSalesTax}</if>
            <if test="postageCredits != null "> and postage_credits = #{postageCredits}</if>
            <if test="shippingCreditsTax != null "> and shipping_credits_tax = #{shippingCreditsTax}</if>
            <if test="giftWrapCredits != null "> and gift_wrap_credits = #{giftWrapCredits}</if>
            <if test="giftwrapCreditsTax != null "> and giftwrap_credits_tax = #{giftwrapCreditsTax}</if>
            <if test="promotionalRebates != null "> and promotional_rebates = #{promotionalRebates}</if>
            <if test="promotionalRebatesTax != null "> and promotional_rebates_tax = #{promotionalRebatesTax}</if>
            <if test="marketplaceWithheldTax != null "> and marketplace_withheld_tax = #{marketplaceWithheldTax}</if>
            <if test="sellingFees != null "> and selling_fees = #{sellingFees}</if>
            <if test="fbaFees != null "> and fba_fees = #{fbaFees}</if>
            <if test="otherTransactionFees != null "> and other_transaction_fees = #{otherTransactionFees}</if>
            <if test="other != null "> and other = #{other}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="standardSku != null  and standardSku != ''"> and standard_sku = #{standardSku}</if>
            <if test="spu != null  and spu != ''"> and spu = #{spu}</if>
            <if test="principal != null  and principal != ''"> and principal = #{principal}</if>
            <if test="chargType != null "> and charg_type = #{chargType}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
            <if test="params.standardSku != null and params.standardSku == 'empty'"> and standard_sku is null</if>
            <if test="params.standardSku != null and params.standardSku == 'noEmpty'"> and standard_sku is not null</if>
        </where>
        order by id desc
    </select>

    <select id="selectTransactionRecordById" parameterType="Long" resultMap="TransactionRecordResult">
        <include refid="selectTransactionRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertTransactionRecord" parameterType="TransactionRecord" useGeneratedKeys="true" keyProperty="id">
        insert into oms_transaction_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="site != null and site != ''">site,</if>
            <if test="month != null">month,</if>
            <if test="time != null">time,</if>
            <if test="settlementId != null">settlement_id,</if>
            <if test="type != null">type,</if>
            <if test="orderId != null">order_id,</if>
            <if test="sku != null">sku,</if>
            <if test="description != null">description,</if>
            <if test="quantity != null">quantity,</if>
            <if test="marketplace != null">marketplace,</if>
            <if test="fulfilment != null">fulfilment,</if>
            <if test="orderCity != null">order_city,</if>
            <if test="orderState != null">order_state,</if>
            <if test="orderPostal != null">order_postal,</if>
            <if test="taxCollectionModel != null">tax_collection_model,</if>
            <if test="productSales != null">product_sales,</if>
            <if test="productSalesTax != null">product_sales_tax,</if>
            <if test="postageCredits != null">postage_credits,</if>
            <if test="shippingCreditsTax != null">shipping_credits_tax,</if>
            <if test="giftWrapCredits != null">gift_wrap_credits,</if>
            <if test="giftwrapCreditsTax != null">giftwrap_credits_tax,</if>
            <if test="promotionalRebates != null">promotional_rebates,</if>
            <if test="promotionalRebatesTax != null">promotional_rebates_tax,</if>
            <if test="marketplaceWithheldTax != null">marketplace_withheld_tax,</if>
            <if test="sellingFees != null">selling_fees,</if>
            <if test="fbaFees != null">fba_fees,</if>
            <if test="otherTransactionFees != null">other_transaction_fees,</if>
            <if test="other != null">other,</if>
            <if test="total != null">total,</if>
            <if test="standardSku != null">standard_sku,</if>
            <if test="spu != null">spu,</if>
            <if test="principal != null">principal,</if>
            <if test="chargType != null">charg_type,</if>
            <if test="spareField != null">spare_field,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="site != null and site != ''">#{site},</if>
            <if test="month != null">#{month},</if>
            <if test="time != null">#{time},</if>
            <if test="settlementId != null">#{settlementId},</if>
            <if test="type != null">#{type},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="sku != null">#{sku},</if>
            <if test="description != null">#{description},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="marketplace != null">#{marketplace},</if>
            <if test="fulfilment != null">#{fulfilment},</if>
            <if test="orderCity != null">#{orderCity},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="orderPostal != null">#{orderPostal},</if>
            <if test="taxCollectionModel != null">#{taxCollectionModel},</if>
            <if test="productSales != null">#{productSales},</if>
            <if test="productSalesTax != null">#{productSalesTax},</if>
            <if test="postageCredits != null">#{postageCredits},</if>
            <if test="shippingCreditsTax != null">#{shippingCreditsTax},</if>
            <if test="giftWrapCredits != null">#{giftWrapCredits},</if>
            <if test="giftwrapCreditsTax != null">#{giftwrapCreditsTax},</if>
            <if test="promotionalRebates != null">#{promotionalRebates},</if>
            <if test="promotionalRebatesTax != null">#{promotionalRebatesTax},</if>
            <if test="marketplaceWithheldTax != null">#{marketplaceWithheldTax},</if>
            <if test="sellingFees != null">#{sellingFees},</if>
            <if test="fbaFees != null">#{fbaFees},</if>
            <if test="otherTransactionFees != null">#{otherTransactionFees},</if>
            <if test="other != null">#{other},</if>
            <if test="total != null">#{total},</if>
            <if test="standardSku != null">#{standardSku},</if>
            <if test="spu != null">#{spu},</if>
            <if test="principal != null">#{principal},</if>
            <if test="chargType != null">#{chargType},</if>
            <if test="spareField != null">#{spareField},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTransactionRecord" parameterType="TransactionRecord">
        update oms_transaction_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="site != null and site != ''">site = #{site},</if>
            <if test="month != null">month = #{month},</if>
            <if test="time != null">time = #{time},</if>
            <if test="settlementId != null">settlement_id = #{settlementId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="description != null">description = #{description},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="marketplace != null">marketplace = #{marketplace},</if>
            <if test="fulfilment != null">fulfilment = #{fulfilment},</if>
            <if test="orderCity != null">order_city = #{orderCity},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orderPostal != null">order_postal = #{orderPostal},</if>
            <if test="taxCollectionModel != null">tax_collection_model = #{taxCollectionModel},</if>
            <if test="productSales != null">product_sales = #{productSales},</if>
            <if test="productSalesTax != null">product_sales_tax = #{productSalesTax},</if>
            <if test="postageCredits != null">postage_credits = #{postageCredits},</if>
            <if test="shippingCreditsTax != null">shipping_credits_tax = #{shippingCreditsTax},</if>
            <if test="giftWrapCredits != null">gift_wrap_credits = #{giftWrapCredits},</if>
            <if test="giftwrapCreditsTax != null">giftwrap_credits_tax = #{giftwrapCreditsTax},</if>
            <if test="promotionalRebates != null">promotional_rebates = #{promotionalRebates},</if>
            <if test="promotionalRebatesTax != null">promotional_rebates_tax = #{promotionalRebatesTax},</if>
            <if test="marketplaceWithheldTax != null">marketplace_withheld_tax = #{marketplaceWithheldTax},</if>
            <if test="sellingFees != null">selling_fees = #{sellingFees},</if>
            <if test="fbaFees != null">fba_fees = #{fbaFees},</if>
            <if test="otherTransactionFees != null">other_transaction_fees = #{otherTransactionFees},</if>
            <if test="other != null">other = #{other},</if>
            <if test="total != null">total = #{total},</if>
            <if test="standardSku != null">standard_sku = #{standardSku},</if>
            <if test="spu != null">spu = #{spu},</if>
            <if test="principal != null">principal = #{principal},</if>
            <if test="chargType != null">charg_type = #{chargType},</if>
            <if test="spareField != null">spare_field = #{spareField},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTransactionRecordById" parameterType="Long">
        delete from oms_transaction_record where id = #{id}
    </delete>

    <delete id="deleteTransactionRecordByIds" parameterType="String">
        delete from oms_transaction_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <select id="selectTransactionRecordByOnlyCondition" parameterType="TransactionRecord" resultMap="TransactionRecordResult">
        <include refid="selectTransactionRecordVo"/>
        where time=#{time} and order_id=#{orderId} and sku=#{sku} and total=#{total}
    </select>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <update id="updateTransactionRecordByOnlyCondition" parameterType="TransactionRecord">
        update oms_transaction_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="site != null and site != ''">site = #{site},</if>
            <if test="month != null">month = #{month},</if>
            <if test="time != null">time = #{time},</if>
            <if test="settlementId != null">settlement_id = #{settlementId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="description != null">description = #{description},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="marketplace != null">marketplace = #{marketplace},</if>
            <if test="fulfilment != null">fulfilment = #{fulfilment},</if>
            <if test="orderCity != null">order_city = #{orderCity},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orderPostal != null">order_postal = #{orderPostal},</if>
            <if test="taxCollectionModel != null">tax_collection_model = #{taxCollectionModel},</if>
            <if test="productSales != null">product_sales = #{productSales},</if>
            <if test="productSalesTax != null">product_sales_tax = #{productSalesTax},</if>
            <if test="postageCredits != null">postage_credits = #{postageCredits},</if>
            <if test="shippingCreditsTax != null">shipping_credits_tax = #{shippingCreditsTax},</if>
            <if test="giftWrapCredits != null">gift_wrap_credits = #{giftWrapCredits},</if>
            <if test="giftwrapCreditsTax != null">giftwrap_credits_tax = #{giftwrapCreditsTax},</if>
            <if test="promotionalRebates != null">promotional_rebates = #{promotionalRebates},</if>
            <if test="promotionalRebatesTax != null">promotional_rebates_tax = #{promotionalRebatesTax},</if>
            <if test="marketplaceWithheldTax != null">marketplace_withheld_tax = #{marketplaceWithheldTax},</if>
            <if test="sellingFees != null">selling_fees = #{sellingFees},</if>
            <if test="fbaFees != null">fba_fees = #{fbaFees},</if>
            <if test="otherTransactionFees != null">other_transaction_fees = #{otherTransactionFees},</if>
            <if test="other != null">other = #{other},</if>
            <if test="total != null">total = #{total},</if>
            <if test="standardSku != null">standard_sku = #{standardSku},</if>
            <if test="spu != null">spu = #{spu},</if>
            <if test="principal != null">principal = #{principal},</if>
            <if test="chargType != null">charg_type = #{chargType},</if>
            <if test="spareField != null">spare_field = #{spareField},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where time=#{time} and order_id=#{orderId} and sku=#{sku} and total=#{total}
    </update>

    <select id="selectTransactionAnaly" parameterType="TransactionRecord" resultMap="TransactionRecordResult">
        SELECT principal,type,spu,standard_sku,site,account,
sum(product_sales) as product_sales,
SUM(product_sales_tax) as product_sales_tax,
SUM(postage_credits) as postage_credits,
SUM(shipping_credits_tax) as shipping_credits_tax,
SUM(gift_wrap_credits) as gift_wrap_credits,
SUM(giftwrap_credits_tax) as giftwrap_credits_tax,
SUM(promotional_rebates) as promotional_rebates,
sum(promotional_rebates_tax) as promotional_rebates_tax,
SUM(marketplace_withheld_tax) as marketplace_withheld_tax,
SUM(selling_fees) as selling_fees,
SUM(fba_fees) as fba_fees,
sum(other_transaction_fees) as other_transaction_fees,
SUM(other) as other,
SUM(total) as total
from oms_transaction_record
        <where>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="month != null">and month = #{month}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="fulfilment != null  and fulfilment != ''"> and fulfilment = #{fulfilment}</if>
<!--            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>-->
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
        </where>
GROUP BY principal,type,spu,standard_sku,site,account

    </select>

    <select id="selectQuantityAnaly" parameterType="TransactionRecord" resultMap="TransactionRecordResult">
        SELECT principal,spu,standard_sku,site,account,
        sum(quantity) as quantity
        from oms_transaction_record
         <where>
             <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
             <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
        GROUP BY principal,spu,standard_sku,site,account

    </select>

    <select id="selectGatherRecord" parameterType="TransactionRecord" resultType="TransactionRecord">
        SELECT sum(quantity) as quantity,
               sum(product_sales) as productSales,
               sum(other_transaction_fees) as otherTransactionFees,
               sum(other) as other
               from oms_transaction_record
        <where>
            <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
        </where>
    </select>

    <select id="selectSkuRemovalFeeList" parameterType="TransactionRecord" resultType="TransactionRecord">
        SELECT
        rd.principal,rd.spu,rd.standard_sku as standardSku,sum(rd.removal_fee) as total
        FROM
        (SELECT DISTINCT order_id from oms_transaction_record
        <where>
            <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
        </where>
        ) tr
        INNER JOIN oms_removal_detail rd ON tr.order_id = rd.order_id
        <where>
           <if test="params.removalType != null  and params.removalType != ''"> and rd.order_type = #{params.removalType}</if>
        </where>
        GROUP BY rd.principal,rd.spu,rd.standard_sku
    </select>

    <select id="selectSkuRefundServiceFeeList" parameterType="TransactionRecord" resultType="TransactionRecord">
        select tr.account,tr.site,tr.principal,tr.spu,tr.standard_sku as standardSku,SUM(rs.amount) as total from
        (select distinct order_id,sku,account,site,principal,spu,standard_sku from oms_transaction_record
        where type=5
        <if test="month != null">and month = #{month}</if>
        <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
        <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
        <if test="type != null  and type != ''"> and type = #{type}</if>
        <if test="description != null and description != ''">and description = #{description}</if>
        <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
        <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
        <if test="site != null  and site != ''"> and site = #{site}</if>
        <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>)  tr
        INNER JOIN oms_refund_servicefee rs on tr.order_id=rs.order_id and tr.sku=rs.sku
        GROUP BY tr.account,tr.site,tr.principal,tr.spu,tr.standard_sku
    </select>


    <select id="selectSkuAdjustmentFeeList" parameterType="TransactionRecord" resultType="TransactionRecord">
        select account,site,principal,spu,standard_sku as standardSku,SUM(other) as other from oms_transaction_record
        <where>
            <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="description != null">and description = #{description}</if>
            <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
        </where>
        GROUP BY account,site,principal,spu,standard_sku
    </select>

    <select id="selectSkuEarlyFeeGatherList" parameterType="TransactionRecord" resultType="TransactionRecord">
        select standard_sku as standardSku,spu,principal,site,account,SUM(other_transaction_fees) as otherTransactionFees from oms_transaction_record
        <where>
            <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and time &lt;= #{params.endTime}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="description != null  and description != ''"> and description like #{description}</if>
            <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and fulfilment = #{fulfilment}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and spare_field = #{spareField}</if>
        </where>
        GROUP BY standard_sku,spu,principal,site,account
    </select>

    <select id="selectSkuBDOrLdFeeList" parameterType="TransactionRecord" resultType="SkuFee">
        select pr.sku,SUM(tr.other_transaction_fees) as fee from oms_transaction_record tr INNER JOIN oms_dealfee_asin da on tr.id=da.record_id
        INNER JOIN pms_productinfo_relation pr on pr.asin=da.asin
        <where>
            <if test="month != null">and month = #{month}</if>
            <if test="params.beginTime != null"> and tr.time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null"> and tr.time &lt;= #{params.endTime}</if>
            <if test="sku != null  and sku != ''"> and tr.sku = #{sku}</if>
            <if test="type != null  and type != ''"> and tr.type = #{type}</if>
            <if test="description != null  and description != ''"> and tr.description like #{description}</if>
            <if test="fulfilment != null  and fulfilment != '' and fulfilment != 'Amazon'"> and tr.fulfilment = #{fulfilment}</if>
            <if test="fulfilment != null  and fulfilment != 'Amazon'"> and tr.fulfilment = #{fulfilment}</if>
            <if test="site != null  and site != ''"> and tr.site = #{site}</if>
            <if test="spareField != null  and spareField != ''"> and tr.spare_field = #{spareField}</if>
        </where>
        GROUP BY pr.sku
    </select>

    <select id="selectBLDTransactionReocordVoList" parameterType="BLDTransactionRecordVo" resultMap="BLDTransactionRecordVoResult">
        select tr.id, tr.account, tr.site, tr.time, tr.settlement_id, tr.type, tr.order_id, tr.sku, tr.description, tr.quantity, tr.marketplace,
        tr.fulfilment, tr.order_city,tr.order_state, tr.order_postal, tr.tax_collection_model, tr.product_sales, tr.product_sales_tax,
        tr.postage_credits, tr.shipping_credits_tax,tr.gift_wrap_credits, tr.giftwrap_credits_tax, tr.promotional_rebates,
        tr.promotional_rebates_tax, tr.marketplace_withheld_tax,tr.selling_fees, tr.fba_fees,tr.other_transaction_fees, tr.other, tr.total,
        tr.standard_sku, tr.spu, tr.principal, tr.charg_type, tr.spare_field, tr.create_by, tr.create_time, tr.update_by,tr.update_time, da.asin
        from oms_transaction_record tr LEFT JOIN oms_dealfee_asin da on tr.description=da.description
        <where>
            <if test="account != null  and account != ''"> and tr.account = #{account}</if>
            <if test="site != null  and site != ''"> and tr.site = #{site}</if>
            <if test="month != null">and month = #{month}</if>
            <if test="time != null "> and tr.time = #{time}</if>
            <if test="settlementId != null  and settlementId != ''"> and tr.settlement_id = #{settlementId}</if>
            <if test="type != null  and type != ''"> and tr.type = #{type}</if>
            <if test="orderId != null  and orderId != ''"> and tr.order_id = #{orderId}</if>
            <if test="sku != null  and sku != ''"> and tr.sku = #{sku}</if>
            <if test="description != null  and description != '' and params.descriptionCompareSign==''"> and tr.description = #{description}</if>
            <if test="description != null  and description != '' and params.descriptionCompareSign!=''"> and tr.description like #{description}</if>
            <if test="quantity != null "> and tr.quantity = #{quantity}</if>
            <if test="marketplace != null  and marketplace != ''"> and tr.marketplace = #{marketplace}</if>
            <if test="fulfilment != null  and fulfilment != ''"> and tr.fulfilment = #{fulfilment}</if>
            <if test="orderCity != null  and orderCity != ''"> and tr.order_city = #{orderCity}</if>
            <if test="orderState != null  and orderState != ''"> and tr.order_state = #{orderState}</if>
            <if test="orderPostal != null  and orderPostal != ''"> and tr.order_postal = #{orderPostal}</if>
            <if test="taxCollectionModel != null  and taxCollectionModel != ''"> and tr.tax_collection_model = #{taxCollectionModel}</if>
            <if test="productSales != null "> and tr.product_sales = #{productSales}</if>
            <if test="productSalesTax != null "> and tr.product_sales_tax = #{productSalesTax}</if>
            <if test="postageCredits != null "> and tr.postage_credits = #{postageCredits}</if>
            <if test="shippingCreditsTax != null "> and tr.shipping_credits_tax = #{shippingCreditsTax}</if>
            <if test="giftWrapCredits != null "> and tr.gift_wrap_credits = #{giftWrapCredits}</if>
            <if test="giftwrapCreditsTax != null "> and tr.giftwrap_credits_tax = #{giftwrapCreditsTax}</if>
            <if test="promotionalRebates != null "> and tr.promotional_rebates = #{promotionalRebates}</if>
            <if test="promotionalRebatesTax != null "> and tr.promotional_rebates_tax = #{promotionalRebatesTax}</if>
            <if test="marketplaceWithheldTax != null "> and tr.marketplace_withheld_tax = #{marketplaceWithheldTax}</if>
            <if test="sellingFees != null "> and tr.selling_fees = #{sellingFees}</if>
            <if test="fbaFees != null "> and tr.fba_fees = #{fbaFees}</if>
            <if test="otherTransactionFees != null "> and tr.other_transaction_fees = #{otherTransactionFees}</if>
            <if test="other != null "> and tr.other = #{other}</if>
            <if test="total != null "> and tr.total = #{total}</if>
            <if test="standardSku != null  and standardSku != ''"> and tr.standard_sku = #{standardSku}</if>
            <if test="spu != null  and spu != ''"> and tr.spu = #{spu}</if>
            <if test="principal != null  and principal != ''"> and tr.principal = #{principal}</if>
            <if test="chargType != null "> and tr.charg_type = #{chargType}</if>
            <if test="spareField != null  and spareField != ''"> and tr.spare_field = #{spareField}</if>
            <if test="asin != null  and asin != ''"> and da.asin = #{asin}</if>
        </where>
        order by id desc
    </select>

    <update id="updateAdjustmentRecordByOrderId" parameterType="TransactionRecord">
        update oms_transaction_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="site != null and site != ''">site = #{site},</if>
            <if test="month != null">month = #{month}</if>
            <if test="time != null">time = #{time},</if>
            <if test="settlementId != null">settlement_id = #{settlementId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="sku != null">sku = #{sku},</if>
            <if test="description != null">description = #{description},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="marketplace != null">marketplace = #{marketplace},</if>
            <if test="fulfilment != null">fulfilment = #{fulfilment},</if>
            <if test="orderCity != null">order_city = #{orderCity},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orderPostal != null">order_postal = #{orderPostal},</if>
            <if test="taxCollectionModel != null">tax_collection_model = #{taxCollectionModel},</if>
            <if test="productSales != null">product_sales = #{productSales},</if>
            <if test="productSalesTax != null">product_sales_tax = #{productSalesTax},</if>
            <if test="postageCredits != null">postage_credits = #{postageCredits},</if>
            <if test="shippingCreditsTax != null">shipping_credits_tax = #{shippingCreditsTax},</if>
            <if test="giftWrapCredits != null">gift_wrap_credits = #{giftWrapCredits},</if>
            <if test="giftwrapCreditsTax != null">giftwrap_credits_tax = #{giftwrapCreditsTax},</if>
            <if test="promotionalRebates != null">promotional_rebates = #{promotionalRebates},</if>
            <if test="promotionalRebatesTax != null">promotional_rebates_tax = #{promotionalRebatesTax},</if>
            <if test="marketplaceWithheldTax != null">marketplace_withheld_tax = #{marketplaceWithheldTax},</if>
            <if test="sellingFees != null">selling_fees = #{sellingFees},</if>
            <if test="fbaFees != null">fba_fees = #{fbaFees},</if>
            <if test="otherTransactionFees != null">other_transaction_fees = #{otherTransactionFees},</if>
            <if test="other != null">other = #{other},</if>
            <if test="total != null">total = #{total},</if>
            <if test="standardSku != null">standard_sku = #{standardSku},</if>
            <if test="spu != null">spu = #{spu},</if>
            <if test="principal != null">principal = #{principal},</if>
            <if test="chargType != null">charg_type = #{chargType},</if>
            <if test="spareField != null">spare_field = #{spareField},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId} and type = 8
    </update>


    <delete id="deleteTransactionRecordByMonthSiteAndSpareField">
        delete from oms_transaction_record where month=#{month} and site = #{site} and spare_field = #{spareField}
    </delete>

    <insert id="batchInsertTransactionRecord" parameterType="java.util.List">
        insert into oms_transaction_record
        (id,account,site,month,time,settlement_id,type,order_id,sku,description,quantity,marketplace,fulfilment,order_city,order_state,
            order_postal,tax_collection_model,product_sales,product_sales_tax,postage_credits,shipping_credits_tax,gift_wrap_credits,
            giftwrap_credits_tax,promotional_rebates,promotional_rebates_tax,marketplace_withheld_tax,selling_fees,fba_fees,other_transaction_fees,
            other,total,standard_sku,spu,principal,charg_type,spare_field,create_by,create_time,update_by,update_time) values
        <foreach collection="transactionRecordList" item="item" index="index" separator=",">
            (null,#{item.account},
            #{item.site},
            #{item.month},
            #{item.time},
            #{item.settlementId},
            #{item.type},
            #{item.orderId},
            #{item.sku},
            #{item.description},
            #{item.quantity},
            #{item.marketplace},
            #{item.fulfilment},
            #{item.orderCity},
            #{item.orderState},
            #{item.orderPostal},
            #{item.taxCollectionModel},
            #{item.productSales},
            #{item.productSalesTax},
            #{item.postageCredits},
            #{item.shippingCreditsTax},
            #{item.giftWrapCredits},
            #{item.giftwrapCreditsTax},
            #{item.promotionalRebates},
            #{item.promotionalRebatesTax},
            #{item.marketplaceWithheldTax},
            #{item.sellingFees},
            #{item.fbaFees},
            #{item.otherTransactionFees},
            #{item.other},
            #{item.total},
            #{item.standardSku},
            #{item.spu},
            #{item.principal},
            #{item.chargType},
            #{item.spareField},
            #{item.createBy},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateTime})
        </foreach>
    </insert>

</mapper>