<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pms.advertisingFee.mapper.AdvertisingFeeMapper">

    <resultMap type="AdvertisingFee" id="AdvertisingFeeResult">
        <result property="id"    column="id"    />
        <result property="month"    column="month"    />
        <result property="site"    column="site"    />
        <result property="campaign"    column="campaign"    />
        <result property="charge"    column="charge"    />
        <result property="standardSku"    column="standard_sku"    />
        <result property="spu"    column="spu"    />
        <result property="principal"    column="principal"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAdvertisingFeeVo">
        select id, month, site, campaign, charge, standard_sku, spu, principal, create_by, create_time, update_by, update_time from pms_advertising_fee
    </sql>

    <select id="selectAdvertisingFeeList" parameterType="AdvertisingFee" resultMap="AdvertisingFeeResult">
        <include refid="selectAdvertisingFeeVo"/>
        <where>
            <if test="month != null "> and month = #{month}</if>
            <if test="site != null  and site != ''"> and site = #{site}</if>
            <if test="campaign != null  and campaign != ''"> and campaign = #{campaign}</if>
            <if test="charge != null "> and charge = #{charge}</if>
            <if test="standardSku != null  and standardSku != ''"> and standard_sku = #{standardSku}</if>
            <if test="spu != null  and spu != ''"> and spu = #{spu}</if>
            <if test="principal != null  and principal != ''"> and principal = #{principal}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAdvertisingFeeById" parameterType="Long" resultMap="AdvertisingFeeResult">
        <include refid="selectAdvertisingFeeVo"/>
        where id = #{id}
    </select>

    <insert id="insertAdvertisingFee" parameterType="AdvertisingFee" useGeneratedKeys="true" keyProperty="id">
        insert into pms_advertising_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="month != null">month,</if>
            <if test="site != null and site != ''">site,</if>
            <if test="campaign != null and campaign != ''">campaign,</if>
            <if test="charge != null">charge,</if>
            <if test="standardSku != null and standardSku != ''">standard_sku,</if>
            <if test="spu != null and spu != ''">spu,</if>
            <if test="principal != null and principal != ''">principal,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="month != null">#{month},</if>
            <if test="site != null and site != ''">#{site},</if>
            <if test="campaign != null and campaign != ''">#{campaign},</if>
            <if test="charge != null">#{charge},</if>
            <if test="standardSku != null and standardSku != ''">#{standardSku},</if>
            <if test="spu != null and spu != ''">#{spu},</if>
            <if test="principal != null and principal != ''">#{principal},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateAdvertisingFee" parameterType="AdvertisingFee">
        update pms_advertising_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="month != null">month = #{month},</if>
            <if test="site != null and site != ''">site = #{site},</if>
            <if test="campaign != null and campaign != ''">campaign = #{campaign},</if>
            <if test="charge != null">charge = #{charge},</if>
            <if test="standardSku != null and standardSku != ''">standard_sku = #{standardSku},</if>
            <if test="spu != null and spu != ''">spu = #{spu},</if>
            <if test="principal != null and principal != ''">principal = #{principal},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdvertisingFeeById" parameterType="Long">
        delete from pms_advertising_fee where id = #{id}
    </delete>

    <delete id="deleteAdvertisingFeeByIds" parameterType="String">
        delete from pms_advertising_fee where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <select id="selectAdvertisingFeeByOnlyCondition" parameterType="AdvertisingFee" resultMap="AdvertisingFeeResult">
        <include refid="selectAdvertisingFeeVo"/>
        where month = #{month} and site = #{site} and campaign = #{campaign}
    </select>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <update id="updateAdvertisingFeeByOnlyCondition" parameterType="AdvertisingFee">
        update pms_advertising_fee
        <trim prefix="SET" suffixOverrides=",">
            <if test="month != null">month = #{month},</if>
            <if test="site != null and site != ''">site = #{site},</if>
            <if test="campaign != null and campaign != ''">campaign = #{campaign},</if>
            <if test="charge != null">charge = #{charge},</if>
            <if test="standardSku != null and standardSku != ''">standard_sku = #{standardSku},</if>
            <if test="spu != null and spu != ''">spu = #{spu},</if>
            <if test="principal != null and principal != ''">principal = #{principal},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where month = #{month} and site = #{site} and campaign = #{campaign}
    </update>


    <select id="selectSkuAdvertisingFeeList" parameterType="AdvertisingFee" resultType="AdvertisingFee">
        select standard_sku as standardSku,spu,principal,site,sum(charge) as charge
         from pms_advertising_fee
        where month = #{month} and site = #{site} group by standard_sku,spu,principal,site
    </select>

    <delete id="deleteAdvertisingFeeByTypeAndSite">
        delete from pms_advertising_fee where month =#{month} and site=#{site}
    </delete>

    <update id="updateProductinfo2Record">
        update pms_advertising_fee af INNER JOIN cpd_advertising_activity aa on aa.activity=af.campaign INNER JOIN pms_productinfo_relation pr
        on pr.sku=af.standard_sku and af.site=#{site} and af.month=#{month} and pr.area_code=#{areaCode}
         set af.principal=pr.principal, af.spu=pr.type
    </update>

</mapper>