<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pms.skuCoupon.mapper.SkuCouponMapper">
    
    <resultMap type="SkuCoupon" id="SkuCouponResult">
        <result property="id"    column="id"    />
        <result property="couponTitle"    column="coupon_title"    />
        <result property="sku"    column="sku"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSkuCouponVo">
        select id, coupon_title, sku, create_by, create_time, update_by, update_time from pms_sku_coupon
    </sql>

    <select id="selectSkuCouponList" parameterType="SkuCoupon" resultMap="SkuCouponResult">
        <include refid="selectSkuCouponVo"/>
        <where>  
            <if test="couponTitle != null  and couponTitle != ''"> and coupon_title = #{couponTitle}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectSkuCouponById" parameterType="Long" resultMap="SkuCouponResult">
        <include refid="selectSkuCouponVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSkuCoupon" parameterType="SkuCoupon">
        insert into pms_sku_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="couponTitle != null and couponTitle != ''">coupon_title,</if>
            <if test="sku != null and sku != ''">sku,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="couponTitle != null and couponTitle != ''">#{couponTitle},</if>
            <if test="sku != null and sku != ''">#{sku},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSkuCoupon" parameterType="SkuCoupon">
        update pms_sku_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponTitle != null and couponTitle != ''">coupon_title = #{couponTitle},</if>
            <if test="sku != null and sku != ''">sku = #{sku},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkuCouponById" parameterType="Long">
        delete from pms_sku_coupon where id = #{id}
    </delete>

    <delete id="deleteSkuCouponByIds" parameterType="String">
        delete from pms_sku_coupon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <select id="selectSkuCouponByOnlyCondition" parameterType="SkuCoupon" resultMap="SkuCouponResult">
        <include refid="selectSkuCouponVo"/>
        where coupon_title = #{couponTitle}
    </select>

    <!-- 此mybatis映射sql是由系统生成的，需根据业务情况，保留onlyCondition -->
    <update id="updateSkuCouponByOnlyCondition" parameterType="SkuCoupon">
        update pms_sku_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponTitle != null and couponTitle != ''">coupon_title = #{couponTitle},</if>
            <if test="sku != null and sku != ''">sku = #{sku},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where coupon_title = #{couponTitle}
    </update>

</mapper>